body{
    background-color: white;
    margin: 0px;
}
.body{
    background-color: white;
    width: 1000px;
    margin: auto;
}
h1{
    margin: auto;
    text-align: center;
}
table{
    margin: auto;
}
#sub{
    text-align: center;
}
#yy,#mm{
    width: 77.6px;
}
.t2{
    margin: auto;
   
    
}
